.equipo-container {
  padding: 15px;
  color: white;
  background-color: black;
  border-radius: 15px;
  max-width: 1200px;
  margin: 50px auto;
  box-shadow: 0px 0px 20px 10px rgba(247, 241, 241, 0.8);
  height: auto;
  overflow-y: auto; /* Permitir scroll si el contenido es largo */
}
.equipo-title {
  text-align: center;
}
.equipo-description {
  text-align: center;
}

.card {
  background-color: #000000 !important; /* Fondo completamente negro */
  color: white;
  border: none;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Efecto de luz suave desde atrás */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  min-height: 350px; /* Aumentar la altura mínima de la tarjeta */
  height: auto; /* Ajusta la altura según el contenido */
}

.card-body {
  padding: 15px;
  text-align: center; /* Centrar el contenido de la tarjeta */
  text-align: justify; /* Justificar el texto */
  height: auto; /* Asegura que el contenido se ajuste a la altura de la tarjeta */
}
.card-body h2 {
 text-align: center;
}

.card-header h2 {
  font-size: 2rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
               0 0 20px rgba(255, 255, 255, 0.5);
  transition: text-shadow 0.3s ease-in-out;
  text-align: center; /* Centrar el título */
}

.card a {
  text-decoration: none; /* Quitar el subrayado de los enlaces */
  color: white; /* Asegurar que el color del enlace sea blanco */
}

.card a:hover {
  text-decoration: none; /* Mantener el enlace sin subrayado al pasar el mouse */
}

.card:hover .card-header h2 {
  text-shadow: 0 0 20px rgba(255, 255, 255, 1),
               0 0 40px rgba(255, 255, 255, 0.9);
}

.equipo-banner {
  width: 150px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  margin-top: 30px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

/* Responsividad */
@media (max-width: 768px) {
  .equipo-container {
    padding: 10px;
    margin: 20px auto;
  }

  .card-header h2 {
    font-size: 1.5rem;
  }

  .card-body {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .equipo-container {
    padding: 5px;
    margin: 10px auto;
  }

  .card-header h2 {
    font-size: 1.2rem;
  }

  .card-body {
    font-size: 0.9rem;
  }
}
